body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.heading{
  margin-top: 20px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-30%)
}
a {
  color: #00B7FF;
}
